<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Teste</span>


</mat-toolbar>

<hr>

<div class="container">
  <div class="col-12">
    <div class="row">

      <mat-form-field appearance="fill">
        <mat-label>Digite</mat-label>
        <input #peti matInput placeholder="Nome" maxlength="10">
        <mat-hint>{{peti.value.length}}/{{peti.maxLength}}
        </mat-hint>
        <mat-icon matSuffix>clear</mat-icon>
      </mat-form-field>

    </div>
    <button mat-raised-button color="primary"><a routerLink="../teste2" class="botao">Click</a></button>
  </div>
</div>



<button class="btn btn-danger"
[disabled]="!novaEscola"
(click)="createSchool()">Botao</button>

<p *ngIf="cool ; else sol">{{texto}}</p>
<ng-template #sol>
  <p>Texto</p>
</ng-template>

<p [ngStyle]="{'background-color':schoolColor()}"
[ngClass]="{'aberta': schoolSituation == 'aberta'}">Ok</p>

<p *ngFor="let school of schools">Ok</p>

<img [src]="url" [alt]="description">


<h1 class="text-center">Okkk</h1>

<div class="form-group">
  <form>
  <input formControlName="userName" type="text" placeholder="nome">
  <small class="text-danger d-block">
    texto
  </small>
  <button [disabled]="loginForm.invalid" type="button" class="btn btn-primary btn-block">Botao</button>
  </form>

</div>







